.product{
	background: yellow;
	min-height: 200px;
	min-width: 200px;
	position: relative;
	top: 10px;
	left: 10px;
}

.column_one{
	background: lightgrey;
	min-height: 20px;
	width: 280px;
	float: left;
}

.column_two{
	background: lightblue;
	min-height: 20px;
	width: 380px;
	float: left;
}

.column_three{
	background: violet;
	min-height: 20px;
	width: 280px;
	float: left;
}

#boiler{
	height: 260px;
	width: 280px;
}

.red_flame{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.block{
	background: orange;
	text-align: center;
	color: white;
	font-size: 19px;
	outline: 2px solid #BF360C; /* color deep-orange*/
	border-bottom: 2px dashed white;
	width: 70px;
	height:  40px;
	position: absolute;

}

.stock{
	border-bottom: 1px dashed white;
	border-top: 1px dashed white;
	position: absolute;
	top: 3px;
	left: 10px;
	line-height: 1.7;
}

.more_info{
	position: absolute;
	display:inline-block;
	bottom: -3px;
	left: 352px;
	
	
}

.more_info .info{
	position: absolute;
	display:inline-block;
	bottom: 5px;
	left: 30px;
