   ul{
    -webkit-padding-start: 0;
    webkit-margin-after: 0; 
}

.main_container{
	min-height: 500px;
	width: 100%;
	background-image: url(http://www.look.com.ua/large/201209/22313.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

header{
	width: 100%;
	min-height: 150px;
	border-radius: 15px;
	background-color: rgba(249, 249, 249, 0.7);
}

.promotion{
	max-height: 50px;
	width: 100%;
	position: relative;
	top: 5px;
	margin: 5px 0;
	background-color: rgba(200, 200, 200, 0.7);
	border-radius: 15px;

}

.info{
	display: block;
	text-align:  center;
	text-transform: uppercase;
	padding: 10px;
}

.navigeition{
	min-height: auto;
	width: 100%;
	font-size: 0;
	border: 1px solid red;
	
}

.main_menu{
	display: block;
	position: relative;
	font-size: 0;
	text-align: center;
	list-style-type: none;
}

.main_menu>li{
	display: inline-block;
	position: relative;
	margin: 5px auto;
	padding: 0 20px;
	font-size: 14px;
	background-color: rgba(255, 255, 255, 0.7);
	border: 2px solid rgba(200, 200, 200, 1);
	border-radius: 7px;

}

.man_droped,
.women_droped,
.explore_droped,
.collection_droped{
	min-height: 20px;
	width: 100%;
	display: none;
	position: absolute;
	top: 100%;
	background-color: rgba(200, 200, 200, 1);
	border: 1px solid red;
}
.man_droped{
	top: 100%;
	left:0;
}

.women_droped{
	top: 100%;
	left:0;
}
.explore_droped{
	top: 100%;
	left:0;
}

.collection_droped{
	top: 100%;
	left:0;
}

.man_droped>li,
.women_droped>li,
.explore_droped>li,
.collection_droped>li{
	display: inline-block;
	padding: 0 10px;
	margin: 5px auto;
	font-size: 14px;	
}
 .for_man:hover .man_droped,
 .for_women:hover .women_droped,
 .explore:hover .explore_droped,
 .collection:hover .collection_droped
  { 
    display: block;
   }

.for_man:hover .man_droped,
 .for_women:hover .women_droped,
 .explore:hover .explore_droped,
 .collection:after

a{
	display: block;
	width: 100%;
}
