/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html{
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
}


#wrap{
	height: 1040px;
	width: 640px;
	margin: 0 auto;
	background-color: pink;	
}

header{
	width: 100%;
	height: 90px;
	box-sizing: border-box;
	background-color: grey;
	padding: 3px;
}


.logo{
	
	min-width: 380px;
	max-width: 640px;
	float: left;
	padding: 10px 0;
}

.star{
	width: 64px;
	height: 63px;
	box-sizing: border-box;
	margin: 10px;
	background-image: url(img/star2.png);
	background-size: cover;
	color: white;
	font-size: 1.6rem;
	text-align: center;
	line-height: 64px;
	float: left;
}

#video{
	max-width: 640px;
	min-width: 380px;
	height: 770px;
	box-sizing: border-box;
	padding: 1px;
	background-image: url(img/bob.png);
	background-repeat: no-repeat;
	background-size: contein;

}

.menu{
	width: 640px;
	height: 110px;
	box-sizing: border-box;
	padding: 1px;
	background-image: url(img/topvideo.png);
	background-size: cover;
}

.hd{
	width: 122px;
	height: 27px;
	background-image: url(img/videohd.png);
	background-size: cover;
	margin: 42px 0 0 40px;
	float: left;
}

.share{
	width: 47px;
	height: 54px;
	margin: 28px 36px 28px 20px; 
	background-image: url(img/share_pic.png);
	background-size: cover;
	float: right;
}

.time{
	width: 45px;
	height: 45px;
	margin: 32.5px 0;
	float: right;
	background-image: url(img/clock.png);
	background-size: cover;
}

.button{
	width: 451px;
	height: 192px;
	margin:  159.5px auto;
	background-image: url(img/button.png);
	background-size: cover;
}

.play{
	width: 45px;
	height: 45px;
	float: right;
	background-image: url(img/);
	background-size: cover;

}

.video_control{
	width: 640px;
	height: 110px;
	background-image: url(img/video_footer.png);
}

.start{
	width: 41px;
	height: 44px;
	float: left;
	background-image: url(img/start_control.png);
	background-size: cover;
}

.sound{
	width: 44px;
	height: 43px;
	float: left;
	background-image: url(img/volume.png);
	background-size: cover;

}

.line{
	width: 629px;
	height: 8px;
	background-image: url(img/time_line.png);
	background-size: cover;
}

.full{
	
}





