.main{
	overflow: hidden;
	padding: 0;
	border-radius: 4px;
	box-shadow: 0 1px 4px #E0E0EB;
	display:inline-block;
	position: relative;
}

table{
	border-collapse: collapse;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	position: relative;
}

.head{
	background-color: #283B4D;
	color: #D1D1E0; /* light-grey*/
	font-size: 18px;
	text-align: center;
	padding: 10px 30px 10px 30px;
	
}

.price{
	background-color: #2d95bc;
	color: white;
}

.circle{
	height: 50px;
	width: 50px;
	border: 3px solid white;
	border-radius: 50%;
	text-align: center;
	position: relative;
	left: 40px;
	top: -3px;
	padding: 10px;
	margin: 20px;
}
.price_2{
	position: relative;
	top: 5px;
	left: 0px;
}
.price_2_1{
	font-size: 20px;
	
}

.price_2_2{
	font-size: 12px;

}

.streak{
	background-color: white;
	border-bottom: 1px solid #F0F0F5;
	color: #C0C8DB;
	font-size: 14px;
}
.button{
	background-color: #2d95bc;
	color: white; /* light-grey*/
	font-size: 14px;
}

.streak, 
.button{
	text-align: center;
	padding: 10px 30px 10px 30px;
}