@charset "utf-8";
body  {
	background-size: 100% 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 150%;
	font-weight: normal;
	font-variant: normal;
	background-attachment: fixed;
	background-color: #FFF;
	background-image: url(images/strip.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-align: left;
	
}
.lgp #wrapper { 
	width: 960px;  
	background-image:url(images/header-bg.png);
	background-repeat:repeat-x;
	position: relative;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 10px;
	background-color: #FFFFFF;
	margin: 25px auto; 
	border: 1px solid #000000;
	text-align: left; 
} 

header
article
nav
aside
footer{
	display: block;
}

.logo {
width:300px;
height:100px;
margin: 10px;
float:left;
}

.lgp header { 
	height:120px;
	width:100%;
	position: relative;
	margin-bottom:40px;
}
.mail_skype{
	width: 230px;
	padding-right: 10px;
	padding-left: 200px;
	margin: 10px 0;
	display: block;
	float: left;
}

.contact_phones{
	width: 200px;
	margin: 10px 0;
	float: left;
	
}

.clearfloat{
	clear: both;
}

.contact_phones,
.mail_skype{
	line-height: 21px;
	font-size: 14px;
	}	

#sidebar1{
	font-size:14px;
	color:#000;
	float: left; 
	width: 200px; 
	padding: 15px 10px 15px 20px;
}
#sidebar1 a:link{
	color:#000;
	text-decoration: none;
}

#sidebar1 a:visited{
	color:#000;
	text-decoration: none;
}

#sidebar1 a:hover {
text-decoration:underline;
}

article{
	width:680px;
	padding: 0 20px; 
	float:right;
} 

footer{
	color:black;
	font-weight:bold;
	padding: 0 10px;
	background:#DDDDDD; 
	height:90px;
	margin: 0;
}

.double_prop,
.blades,
.xai_university,
.patent{
	margin:15px;
	border-radius:10px;
	border:5px solid #00698c;

}


.double_prop,
.blades,
.xai_university
{
	width:300px;
}

.patent{
	width:600px;
}

a .double_prop,
a .blades,
a .xai_university{
	position: relative;
	left: 170px;
}

a .patent{
	position: relative;
	left: 20px;
}

	

