@charset "utf-8";
body  {
	background-size: 100% 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 150%;
	font-weight: normal;
	font-variant: normal;
	background-attachment: fixed;
	background-color: #FFF;
	background-image: url(images/strip.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-align: left;
	
}
.lgp #wrapper { 
	width: 960px;  
	background-image:url(images/header-bg.png);
	background-repeat:repeat-x;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 10px;
	background-color: #FFFFFF;
	margin: 25px auto; 
	border: 1px solid #000000;
	text-align: left; 
} 

.logo {
width:300px;
height:100px;
padding:10px;
float:left;
}

.lgp header { 
	height:120px;
	float:left;
	width:100%;
	margin-bottom:40px;
}
.mail_skype{
	width: 180px;
	float: left;
	padding-right: 20px;
	padding-left: 200px;
	margin: 10px 0;
	display: block;
}

.contact_phones{
	width: 200px;
	float: right;
	margin: 10px 0;
}

.clearfloat{
	clear: both;
}	

header
article
nav
aside{
	display: block;
}
