html, body, p{
	margin: 0;
	padding: 0;
	font-family: Verdana, Tahoma, sans-serif;
}

.main{
	background-color: #FCE9CA;/* color peach*/
	height: 600px;
	width: 390px;
	margin: 0;
	padding: 0;
	position: relative;
}

.pictures{
	background-color: #FFCCBC; /* color light-orange*/
	height: 450px; 
	width: 250px;
	margin: 10px;
	padding: 0px;
}

.big_phone_photo{

	margin: 30px;
	padding: 0;
	height: 350px;
	width: 170px;

}

.stock_icon{
	margin: 10px;
	padding: 0;
	height: 50px;
	width: 50px;
}

.mini_phone_photo{
	background-color: yellow;
	height: 70px;
	width: 40px;
}

.mini_phon{
	margin: 10px;
	padding: 0;
	height: 50px;
	width: 30px;
}

.credit_photo{
	margin: 0;
	padding: 0;
	height: 50px;
	width: 30px;
}

.credit_container{
	background-color: white;
	margin: 10px;
	padding: 0;
	height: 60px;
	width: 40px;
}













