- # encoding: UTF-8
.g-i-tile.g-i-tile-catalog
  .over-wraper
    .g-i-tile-i.available.g-i-tile-i-long
      .g-i-tile-i-box
        %input{type:'hidden', name:'position_number82577', value:'001'}
          .g-i-tile-i-variants
            %ul.g-i-tile-i-variants-l
            .pos-fix
              %li.g-i-tile-i-variants-l-i.active
                %span.g-i-tile-i-variants-color-wrap
                  %a.g-i-tile-i-variants-color{href:'http://rozetka.com.ua/terra_incognita_alfa2_army/p82577/'}
                .g-i-variants-for-plugin
                  .g-id
            .pos-fix
              %li
                %span.g-i-tile-i-variants-color-wrap
              .g-i-variants-for-plugin
                .g-id
            %input{type:'hidden', name:'position_number82577', value:'1'}
            %input{type:'hidden', name:'position_number82576', value:'2'}
        .g-i-tile-i-box-desc
          .clearfix.g-i-tile-i-150-minheight
            .g-i-tile-i-150-image.with-variants#image_item82577
              %i.g-tag.g-tag-icon-middle-popularity.sprite{name:'prices_active_element_original'}
              %a{href:'http://rozetka.com.ua/terra_incognita_alfa2_army/p82577/'}
                %img{src:'http://i1.rozetka.ua/goods/1698/1698997.jpg'}
          .clearfix
            .g-id 82577
          .g-i-tile-promotion{name:'promotions_catalog_tile'}
          .g-i-tile--title.clearfix
            %a{href:'http://rozetka.com.ua/terra_incognita_alfa2_army/p82577/'}
            .inline{name:'prices_active_element_original'}
              .inline
                .price.g-price
                  .g-price-uah
                    2&thinsp;074
                    %span.g-price-uah-sign &thinsp;грн
              .g-rating
                %a.novisited.g-rating-reviews-link{href:'http://rozetka.com.ua/terra_incognita_alfa2_army/p82577/comments/'}
                  %span.sprite.g-rating-stars
                    %span.sprite.g-rating-stars-i
                  %span.g-rating-reviews 81 отзыв
            .price-range-wrap
            .g-tools-container.clearfix
              .g-buy
                %div{name:'buy_catalog'}
                .toOrder
                  %form{method:'POST', action:'https://my.rozetka.com.ua/cgi-bin/form.php?r=https://my.rozetka.com.ua/cart/&amp;action=buy'}
                    %input{type:'hidden', value:'82577', name:'goods_id'}
                    %span.sprite-side.btn-link.btn-link-green.g-buy-submit
                    %button.btn-link-i{type:'submit', name:'topurchasesfromcatalog'} Купить
            %ul.g-i-tile-short-detail
              %li
                %span.g-i-tile-short-detail-i-title
                %span.g-i-tile-short-detail-i-field
              %li
                %span.g-i-tile-short-detail-i-title
                %span.g-i-tile-short-detail-i-field
              %li
                %span.g-i-tile-short-detail-i-title
                %span.g-i-tile-short-detail-i-field