#wrapper
  %section#content.main-content
    %header.header
      %h1 is simply dummy text of the printing and typesetting industry. Lorem Ipsum
      .post-date 28.08.2014
    .post-entry
      %p t is a long established fact that a reader will be distracted by the readable content
      %p t is a long established fact that a reader will be distracted by the readable content