- some_var  = 't is a long established fact that a reader will be distracted by the readable content '
%p
  = some_var

-some_var = 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium'
%p
  = some_var
  = some_var
  = some_var