html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*---------reset css---------------*/

li{
    display: inline-block;
}

.town{
    padding-top: 10px;
    float: left;
    color: #ababab;
}

a{
    color: #949599;
    padding: 0 10px 10px 0;
    border-radius: 10%;
    line-height: 20px;
    text-decoration: none;
}

a:hover{
    color: #000000;
    text-decoration: none;
}



.navbar-fixed-top>.container{
    border-bottom: 1px solid grey;
}


.clearfix:after{
    content: ' ';
    display: inline-block;
    overflow: hidden;
    clear: both;
}

body{
    font-size: 21px;
    background-color: antiquewhite;
    padding-top: 130px;
}
.header,
.navbar-fixed-top{
    background-color: white;
}

.portfolio img,
.services img{
   height: 400px;
}
.portfolio,
.services,
.seo,
.reviews,
.packaging,
.extras,
.followus{
    float: left;
}

.followus{
    margin-left: 100px;
}

.packaging,
.portfolio,
.seo{
    padding-right: 5px;
}


.container {
    position: relative;
    width: 1177px;
    margin: 0 auto;
}


/*styles for footer*/


.getconnect{
    background-color: #949599;
    margin-bottom: 10px;
}
.yourproject{
    background-color: #96a9bc;
}






