.g-i-tile.g-i-tile-catalog
  .over-wraper
    .g-i-tile-i.available.g-i-tile-i-long
      .g-i-tile-i-box
        .g-i-tile-i-box-desc
        .clearfix.g-i-tile-i-150-minheight
          .clearfix
          .g-i-tile-promotion{name:"promotions_catalog_tile"}
          .g-i-tile--title.clearfix
            %a{href:'http://rozetka.com.ua/terra_incognita_alfa2_army/p82577/'}
            .inline{name:"prices_active_element_original"}
            .price-range-wrap
            .g-tools-container.clearfix
            %ul.g-i-tile-short-detail
            %li
              %span.g-i-tile-short-detail-i-title
              %span.g-i-tile-short-detail-i-field
            %li
              %span.g-i-tile-short-detail-i-title
              %span.g-i-tile-short-detail-i-field
            %li
              %span.g-i-tile-short-detail-i-title
              %span.g-i-tile-short-detail-i-field
