!!!5
%html
 %head
   %mrta{charset: 'utf-8'}
   %script{src:'./assets/js/jquery.min.js'}
   %script{src:'./assets/js/custom.js'}
 %body
  %header.page-header
    %p Header страницы
    %nav.menu.menu-main
      %ul
        %li.menu-item.current-menu-item
          %span Главная
        %li.menu-item
            %a{href:'about.html'} О компании
        %li.menu-item
            %a{href:'contacts.html'} Контакт
  %div.page-content
      %p Контентная часть
  %footer.page-footer
      %div.copyright © 2014